.meal {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  border-bottom: 1px solid #ccc;
}
.price span {
  color: #000;
  padding: 0.25rem;
  font-family: inherit;
  font-size: medium;
  border: 1px solid #797878;
  border-radius: 5px;
}

.price {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}
.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 7rem;
}
.actions button {
  border-radius: 5px;
  width: 3rem;
  text-align: center;
}
